---
import SiteLayout from "../../layouts/SiteLayout.astro";
import EventDetail from "../../components/events/EventDetail";

const { eventId } = Astro.params;
---

<SiteLayout title="Event Details">
  <div class="events-shell">
    <EventDetail eventId={eventId} client:load />
  </div>
</SiteLayout>
