---
import SiteLayout from "../../layouts/SiteLayout.astro";
import EventsList from "../../components/events/EventsList";
---

<SiteLayout title="Events">
  <div class="events-shell">
    <EventsList client:load />
  </div>
</SiteLayout>
